@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');

* {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: rgb(9, 7, 36);
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .button {
    padding-top: 49px;
}

.button button {
    width: 130px;
    height: 40px;
    border-radius: 12px;
    border: none;
    cursor: pointer;

    font-size: 15px;
    font-weight: 500;
    color: rgb(9, 7, 36);

    background-color: #4533e7;
}

.button button:hover {
    background-color: rgb(255, 255, 255);
    transition: 0.1s;
    box-shadow: 0px 0px 5px 2px #fff;
} */

.clock {
    display: flex;
    justify-content: space-around;
    width: 650px;
    gap: 60px;
}

.clock article {
    color: #4533e7;
    padding: 50px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 0px 5px;
    border-radius: 30px;
}

.clock article:hover {
    box-shadow: 0px 0px 15px 5px #fff;
}

.clock section {
    font-size: 150px;
    font-weight: 400;
}

.clock .time {
    font-size: 20px;
}